
@{
    ViewData["Title"] = "Documentaion";
}
<h1>Documentation</h1>
<p>Learn more about our system.</p>
<br />
<hr />
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <h4>What is reminder system?</h4>
        <p>Learn about what can we do for you.</p>
        <a href="#">Learn more</a>
    </div>
    <div class="col-lg-4 col-sm-12">
        <h4>How to use reminder system?</h4>
        <p>Learn how to integrate us with your system.</p>
        <a href="#">Learn more</a>
    </div>
    <div class="col-lg-4 col-sm-12">
        <h4>How to use reminder system?</h4>
        <p>Learn how to integrate us with your system.</p>
        <a href="#">Learn more</a>
    </div>
</div>

